@model IEnumerable<JobsISeaYouAt.Models.Zoekertje>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>JobsI<span style="color: deepskyblue">Sea</span>YouAt</h1>
    <p class="lead">JobsISeaYouAt is een online platform waar je kan reageren op vacatures voor jouw droom op de brug.</p>
    @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
    {
        <p><a href="/Zoekertjes/Create" class="btn btn-primary btn-lg">Vacature plaatsen &raquo;</a></p>
    }
    else
    {
        <p><a href="/Account/Register" class="btn btn-primary btn-lg">Registreer je nu &raquo;</a></p>
    }
</div>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Titel</th>
                <th>Functie</th>
                <th>Aanbieder</th>
                <th>Datum</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FunctieTitel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Beschrijving)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Datum)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", "Zoekertjes", new { id = item.Id }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>